* {
    margin: 0;
    padding: 0;
}

.screen-current {
    font-size: 4rem;
    text-align: end;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
}

.button-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.num-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex: 1;
}

.operator-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10%;
    padding-left: 5px;
}

.btn-warning, .btn-danger {
    margin-bottom: 10px;
    width: 100%;
}
