* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 4rem;
    text-align: end;
}

.container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    width: 100%;
}

.num-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex: 1;
}

.zero {
    grid-column: span 2;
}

.operator-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10%;
    padding-left: 5px;
}

.btn-warning {
    margin-bottom: 10px;
}